:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --accent-color: #2196F3;
    --active-color-button: #188CE8;
    --primary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --white-color: #ffffff;
    --white-color-alpha:rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --line-color:#ECECEC;
    --portfolio-card-border-color:#EEEEEE;
    --bg-hero-color: #C4C4C4;
    --clients-element-color: #AFB1B8;

    --specific-indent: 94px 0;
}

body{
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}



/* RESET STYLES */
.link {
    text-decoration: none;
}
/* Скидывание родных отступов у h, ul, p */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Избавляемся от родного отступа у картинки */
img {
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* SECTION COMMON STYLES */
.section .section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* LOGO */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo .logo-accent {
    color: var(--accent-color);
}
.logo .logo-black {
    color: var(--black-color);
}
.logo .logo-white {
    color: var(--white-color);
}

/* CONTAINER */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header {
    border-bottom: 1px solid var(--line-color);
}
.header-elements {
    display: flex;
}
.nav-elements, 
.contacts {
    align-items: center;
}


/* CONTACTS */

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item + .item {
    margin-left: 50px;
}
.contacts .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: var(--description-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-footer .link {
    color: var(--white-color-alpha);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.contacts-footer .geolocation {
     /* Параметры шрифта унаследовали выше */
    color: var(--white-color);
}
.contacts .link:hover,
.contacts .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus{
    color: var(--accent-color);
}
.contacts .mail-link-icon,
.contacts .phone-link-icon {
    margin-right: 10px;
}
.contacts .mail-link-icon,
.contacts .phone-link-icon
 {
    fill: var(--description-text-color);
}
.contacts .mail-link:hover svg,
.contacts .phone-link:hover svg {
    fill: var(--accent-color);
}





/* NAVIGATION */

.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list .item + .item {
    margin-left: 50px;
}
.nav-elements {
    display: flex;
}
.nav-list .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-list .link.current {
    color: var(--accent-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}


/* HERO */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--bg-hero-color);
    letter-spacing: 0.06em;
    text-align: center;   
}
.hero .hero-title {
    margin-bottom: 30px;

    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
.hero.overlay {
    height: 600px;
    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to left, 
        var(--hero-gradient),
        var(--hero-gradient)
    ),
    url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* BUTTON */
/* Настройки для часто встрещающихся кнопок */
.button {
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}

/* HERO BUTTON */
.hero .button {
    padding: 10px 32px;

    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    border-radius: 4px;
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--active-color-button);
}

/* FILTERS BUTTON */
.filters-list .button {
    padding: 8px 22px;

    border-radius: 4px;
}
.filters-list .special-button {
    padding: 8px 25px;
}
.filters-list .button:hover,
.filters-list .button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}



/* FEATURES */

.features {
    padding: var(--specific-indent);
}
.features-list {
    display: flex;
}
.features .item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
}
.features-list .item:last-child {
    margin-right: 0;
}
.features-list .title {
    margin-bottom: 10px;
    
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}
.features-list .description {
    color: var(--description-text-color);
    font-size: 14px;
    line-height: 1.7;
}
.features-thumb {
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}
.features-icon {
    margin: 25px 100px;
}


/* SPECIALIZATION */
.specialization {
    padding-bottom: 94px;
}
.specialization-list {
    display: flex;
    margin-top: 50px;
}
.specialization .item {
    margin-right: 30px;
    margin-bottom: 0;
}
.specialization-list .item:last-child {
    margin-right: 0;
}
/* на случай если не загрузилась картинка */
.specialization .specialization-photo {
    width: 370px;
}


/* TEAM */
.team {
    padding: var(--specific-indent);

    background-color: var(--primary-bg-color);
}
.team-list {
    display:flex; 
}
.team .section-title {
    margin-bottom: 50px;
}
.team .item {
    margin-right: 30px;
    margin-bottom: 0;

    background-color: var(--white-color);

    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child {
    margin-right: 0;
}
.team-list .team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list .title {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list .description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team.social-links-list {
    margin-top: 16px;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}
.team .social-links {
    background-color: var(--white-color);
}
.team .social-link:hover {
    background-color: var(--accent-color);
}
.team .social-link:hover svg {
    fill: var(--white-color);
}
.team .social-icon {
    fill: var(--clients-element-color);
}
/* сохранение размера блока картинки, на случай если картинка не загрузилась */
.team .team-photo {
    width: 270px;
}



/* SOCIAL ICON COMMON SETTINGS */
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* CLIENTS */
.clients {
    padding: var(--specific-indent);
}
.clients .section-title {
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
}
.clients .client-thumb {
    width: 170px;
    margin-right: 30px;
    margin-bottom: 0;

    border: 1px solid var(--clients-element-color);
    border-radius: 4px;
}
.clients .item:last-child {
    margin-right: 0;
}
.client-logo {
    margin: 16px 32px;
    fill: var(--clients-element-color);
}

.client-logo:hover{
    fill:var(--accent-color);
}
.client-thumb:hover {
    border: 1px solid var(--accent-color);
}


/* FOOTER */
footer {
    background-color: var(--accent-bg-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
address {
    margin-top: 20px;
}
.footer .item {
    margin-bottom: 9px;
}
.footer .item:last-child {
    margin-bottom: 0;
}
.footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-link:hover {
    background-color: var(--accent-color);
}
.footer .social-link:hover svg {
    fill: var(--white-color);
}
.footer .social-icon {
    fill: var(--white-color);
}
.footer .social-links-invite {
    text-transform: uppercase;
    color: var(--white-color);
}
.footer .container {
    display: flex;
}
.footer .contacts-footer-box:not(:last-child) {
    margin-right:  70px;
}
.footer .social-links-footer {
    margin-top: 12px;
    margin-bottom: 40px;
}
.footer .social-links-list {
    margin-top: 20px;
}


/* --------PORTFOLIO PAGE--------- */
.portfolio {
    padding: var(--specific-indent);
}
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters-list .item {
    margin-right: 8px;
    margin-bottom: 0;
}
.filters-list .item:last-child {
    margin-right: 0;
}


/* PORTFOLIO LIST (CARDS)*/
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-list .item:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-list .item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.portfolio-list .link {
    color: var(--primary-text-color);
}
.portfolio-list .title {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2.0;
}
.portfolio-list .description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.9;
}
.portfolio-card {
    padding: 20px 24px;
    
    border-right: 1px solid var(--portfolio-card-border-color);
    border-bottom: 1px solid var(--portfolio-card-border-color);
    border-left: 1px solid var(--portfolio-card-border-color);;
}
.portfolio-list .item:hover {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* на случай если не будет загружена картинка добавлен блок с фиксированной шириной */
.portfolio .portfolio-photo {
    width: 370px;
}

