:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --accent-color: #2196F3;
    --accent-button-color: #188CE8;
    --primary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --white-color: #ffffff;
    --white-color-alpha:rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --line-color:#ECECEC;
    --card-set-border-color:#EEEEEE;
    --hero-bg-color: #C4C4C4;
    --primary-icon-color: #AFB1B8;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --primary-box-shadow-color:rgba(0, 0, 0, 0.15);

    --first-modal-box-shadow-color: rgba(0, 0, 0, 0.12);
    --second-modal-box-shadow-color: rgba(0, 0, 0, 0.14);
    --third-modal-box-shadow-color: rgba(0, 0, 0, 0.2);

    --first-team-card-box-shadow-color: rgba(0, 0, 0, 0.12);
    --second-team-card-box-shadow-color: rgba(0, 0, 0, 0.14);
    --third-team-card-box-shadow-color: rgba(0, 0, 0, 0.2);

    --first-filter-box-shadow-color: rgba(0, 0, 0, 0.1);
    --second-filter-box-shadow-color: rgba(0, 0, 0, 0.08);
    --third-filter-box-shadow-color: rgba(0, 0, 0, 0.12);

    --card-title-bg-color: rgba(47, 48, 58, 0.8);
    --overlay-bg-color: rgba(33, 150, 243, 0.9);

    --input-bg-color: rgba(255, 255, 255, 0);
    --input-border-color: rgba(255, 255, 255, 0.3);
    --input-placeholder-color: rgba(117, 117, 117, 0.5);
    
    --input-primary-border-color: rgba(33, 33, 33, 0.2);
    --input-primary-placeholder-color: rgba(255, 255, 255, 0.6);


    --specific-indent: 94px 0;
}

body{
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}



/* RESET STYLES */
.link {
    text-decoration: none;
}
/* Скидывание родных отступов у h, ul, p */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Избавляемся от родного отступа у картинки */
img {
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* SECTION COMMON STYLES */
.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* LOGO */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo__text--accent {
    color: var(--accent-color);
}
.logo__text--black {
    color: var(--black-color);
}
.logo__text--white {
    color: var(--white-color);
}

/* CONTAINER */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header {
    border-bottom: 1px solid var(--line-color);
}
.header-bar {
    display: flex;
}
.site-nav, 
.contacts {
    align-items: center;
}


/* CONTACTS */

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts__item:not(:last-child) {
    margin-right: 50px;
}
.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: var(--description-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer__link {
    color: var(--white-color-alpha);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer__link--geolocation {
     /* Параметры шрифта унаследовали выше */
    color: var(--white-color);
}
.contacts__link:hover,
.contacts__link:focus,
.contacts-footer__link:hover,
.contacts-footer__link:focus{
    color: var(--accent-color);
}
.contacts__icon {
    margin-right: 10px;

    fill: var(--description-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
}





/* NAVIGATION */
.site-nav {
    display: flex;
}
.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    
    background-color: var(--accent-color);
    border-radius: 2px;
}
.nav-list__item:not(:last-child) {
    margin-right: 50px;
}
.nav-list__link{
    position: relative;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link--current {
    color: var(--accent-color);
}
.nav-list__link:hover,
.nav-list__link:focus {
    color: var(--accent-color);
}


/* HERO */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-bg-color);
    letter-spacing: 0.06em;
    text-align: center;   
}
.hero__title {
    margin-bottom: 30px;

    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
/* HERO MODAL AND BACKDROP */
.hero--overlay {
    height: 600px;
    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to left, 
        var(--hero-gradient),
        var(--hero-gradient)
    ),
    url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 528px;

    background: var(--white-color);
    box-shadow: 
    0px 1px 3px var(--first-modal-box-shadow-color), 
    0px 1px 1px var(--second-modal-box-shadow-color), 
    0px 2px 1px var(--third-modal-box-shadow-color);
    border-radius: 4px;   

    transform: translate(-50%, -50%) scale(1) rotateY(360deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal-button {
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    align-items: center;

    margin-top: 8px;
    margin-right: 8px;

    background-color: var(--white-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal-button:hover,
.modal-button:focus {
    fill: var(--accent-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* HERO MODAL FORM*/

.modal-form {

    height: 100%;
    width: 100%;
}
.modal-form__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Общее в стилях input */
.modal-form__input {
    width: 100%;
    
    border-radius: 4px;
    border: 1px solid var(--input-primary-border-color);

    transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input--indent {
    padding: 12px 12px 12px 42px;
    height: 40px;

    outline: none;
}
.modal-form__input--textarea-indent {
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;

    outline: none;
}
.modal-form__input:placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
        
    color: var(--input-placeholder-color);
}
.modal-form__label {
    display: inline-block;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--description-text-color);
}
.modal-form__input-wrapper {
    position: relative;
    margin-bottom: 10px;
}
.modal-form__input-icon {
    position: absolute;
    width:18px;
    height: 18px;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__input-icon,
.modal-form__input:hover + .modal-form__input-icon {
    fill: var(--accent-color);
}
.modal-form__input:focus,
.modal-form__input:hover {
    border-color: var(--accent-color);
}
/* Скрываем родной checkbox */
.checkbox-accept--hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.checkbox-accept {
    margin:0;
}
.checkbox-accept__label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--description-text-color);
}
.checkbox-accept__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
}
.checkbox-accept__icon {
    fill: transparent;
}
.checkbox-accept input:checked + .checkbox-accept__label .checkbox-accept__icon-wrapper {
    background-color: var(--accent-color);
    border: none;
}
.checkbox-accept input:checked + .checkbox-accept__label .checkbox-accept__icon {
    fill: var(--white-color);
}
.checkbox-accept__link {
    color: var(--accent-color);
}
.modal-form__button {
    margin-top: 30px;
    padding: 10px 52px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;

    font-weight: 700;
    letter-spacing: 0.06em;
    
    color: var(--white-color);
    background: var(--accent-button-color);
    box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
    border-radius: 4px;

    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* BUTTON */
/* Настройки для часто встрещающихся кнопок */
.button {
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}

/* HERO BUTTON */
.hero__button {
    padding: 10px 32px;

    color: var(--white-color);
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;

    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--accent-button-color);
    box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
}

/* FILTERS BUTTON */
.filter__button {
    padding: 8px 22px;

    border-radius: 4px;

    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--indent {
    padding-left: 25px;
    padding-right: 25px;
}
.filter__button:hover,
.filter__button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 
    0px 3px 1px var(--first-filter-box-shadow-color), 
    0px 1px 2px var(--second-filter-box-shadow-color), 
    0px 2px 2px var(--third-filter-box-shadow-color);
}



/* FEATURES */

.features {
    padding: var(--specific-indent);
}
.features__list {
    display: flex;
}
.features__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
}
.features__item:last-child {
    margin-right: 0;
}
.features__title {
    margin-bottom: 10px;
    
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}
.features__description {
    color: var(--description-text-color);
    font-size: 14px;
    line-height: 1.7;
}
.features-thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}



/* SPECIALIZATION */
.specialization {
    padding-bottom: 94px;
}
.specialization__list {
    display: flex;
    margin-top: 50px;
}
.specialization__item {
    position: relative;

    margin-right: 30px;
    margin-bottom: 0;
}
.specialization__item:last-child {
    margin-right: 0;
}
/* на случай если не загрузилась картинка */
.specialization__photo {
    width: 370px;
}
.specialization__title-text {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    font-weight: 700;

    text-transform: uppercase;
    color: var(--white-color);
}
.specialization__title {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;


    background-color: var(--card-title-bg-color);
}

/* TEAM */
.team {
    padding: var(--specific-indent);

    background-color: var(--primary-bg-color);
}
.team__list {
    display:flex; 
}
.section-title {
    margin-bottom: 50px;
}

.team__item {
    margin-right: 30px;
    margin-bottom: 0;

    background-color: var(--white-color);

    box-shadow: 
        0px 1px 3px var(--first-team-card-box-shadow-color),
        0px 1px 1px var(--second-team-card-box-shadow-color),
        0px 2px 1px var(--third-team-card-box-shadow-color);
    border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
    margin-right: 0;
}
.team__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__title {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team__description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.social__item:not(:last-child) {
    margin-right: 10px;
}
.social__link {
    background-color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
    fill: var(--primary-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
    background-color: var(--accent-color); 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
    fill: var(--white-color); 

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* сохранение размера блока картинки, на случай если картинка не загрузилась */
.team__photo {
    width: 270px;
}


/* SOCIAL ICON COMMON SETTINGS */
.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social {
    display: flex;
    justify-content: center;

    margin-top: 16px;
}



/* CLIENTS */
.client {
    padding: var(--specific-indent);
}

.client__list {
    display: flex;
}
.client__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    
    border: 1px solid var(--primary-icon-color);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item {
    margin-right: 30px;
    margin-bottom: 0;
}
.client__item:last-child {
    margin-right: 0;
}
.client__logo {
    fill: var(--primary-icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover,
.client__link:focus {
    border: 1px solid var(--accent-color);
}
.client__link:hover .client__logo,
.client__link:focus .client__logo {
    fill: var(--accent-color);
}




/* FOOTER */
footer {
    background-color: var(--accent-bg-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
address {
    margin-top: 20px;
}
.contacts-footer__item {
    margin-bottom: 9px;
}
.contacts-footer__item:last-child {
    margin-bottom: 0;
}
.social__link--reverse {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--reverse {
    fill: var(--white-color);
}
.social-footer__title,
.subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-bar {
    display: flex;
    align-items: baseline;
}
.contacts-box {
    margin-right:  70px;
}
.social--indent {
    margin-top: 20px;
}



/* FORM SUBSCRIPTION */
.footer .subscription {
    margin-left: auto;
}
.subscription__title {
    margin-bottom: 20px;
}

.subscription__input-box {
    display: flex;
}

.subscription__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    color: var(--white-color);
    border: 1px solid var(--input-border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--input-bg-color);
    outline: 0;
}
.subscription__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: var(--input-primary-placeholder-color);
}

.subscription__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 0;
    margin-left: 12px;

    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button:focus,
.subscription__button:hover {
    background-color: var(--accent-button-color);
    box-shadow: 0px 4px 4px var(primary-box-shadow-color);
}
.subscription__button::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;

    fill: var(--white-color);
    background-image: url(../images/send.svg);
}



/* --------PORTFOLIO PAGE--------- */
.portfolio {
    padding: var(--specific-indent);
}
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__item {
    margin-right: 8px;
    margin-bottom: 0;
}
.filter__item:last-child {
    margin-right: 0;
}


/* PORTFOLIO LIST (CARDS)*/
.card-set {
    display: flex;
    flex-wrap: wrap;
}
.card-set__item {
    position: relative;
    
    margin-right: 30px;
    margin-bottom: 30px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:nth-child(3n) {
    margin-right: 0px;
}
.card-set__item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.card-set__link {
    display: block;
    color: var(--primary-text-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover,
.card-set__link:focus {
    box-shadow:
        0px 1px 1px var(--first-card-set-box-shadow-color),
        0px 4px 4px var(--second-card-set-box-shadow-color),
        1px 4px 6px var(--third-card-set-box-shadow-color);
}
.card-set__title {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2.0;
}
.card-set__description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.9;
}
.card-set__meta {
    padding: 20px 24px;
   
    border-right: 1px solid var(--card-set-border-color);
    border-bottom: 1px solid var(--card-set-border-color);
    border-left: 1px solid var(--card-set-border-color);;
}

/* на случай если не будет загружена картинка добавлен блок с фиксированной шириной */
.card-set__photo {
    position: relative;
    width: 370px;

    overflow: hidden;    
}

.card-set__text-overlay {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;

    color: var(--white-color);
    background-color: var(--overlay-bg-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item:hover .card-set__text-overlay{

    transform: translateY(0);
}

