:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --accent-color: #2196F3;
    --active-color-button: #188CE8;
    --primary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --white-color: #ffffff;
    --white-color-alpha:rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --line-color:#ECECEC;
    --portfolio-elements-border-color:#EEEEEE;
}

body{
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}



/* RESET STYLES */
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* SECTION COMMON STYLES */
.section .section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* LOGO */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo .logo-accent {
    color: var(--accent-color);
}
.logo .logo-black {
    color: var(--black-color);
}
.logo .logo-white {
    color: var(--white-color);
}

/* CONTAINER */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header {
    border-bottom: 1px solid var(--line-color);
}
.header-elements {
    display: flex;
}
.nav-elements, 
.contacts {
    align-items: center;
}


/* CONTACTS */

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item + .item {
    margin-left: 50px;
}
.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--description-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-footer .link {
    color: var(--white-color-alpha);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.contacts-footer .geolocation {
     /* Параметры шрифта унаследовали выше */
    color: var(--white-color);
}
.contacts .link:hover,
.contacts .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus{
    color: var(--accent-color);
}


/* NAVIGATION */

.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list .item + .item {
    margin-left: 50px;
}
.nav-elements {
    display: flex;
}
.nav-list .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-list .link.current {
    color: var(--accent-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}


/* HERO */
.hero {
    margin-bottom: 94px;

    background-color: var(--accent-bg-color);
    letter-spacing: 0.06em;
    text-align: center;
}
.hero .hero-title {
    margin-bottom: 40px;

    color: var(--white-color);
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}


/* BUTTON */
/* Настройки для часто встрещающихся кнопок */
.button {
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}

/* HERO BUTTON */
.hero .button {
    padding: 10px 32px;

    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    border-radius: 4px;
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--active-color-button);
}

/* FILTERS BUTTON */
.filters-list .button {
    padding: 8px 22px;

    border-radius: 4px;
}
.filters-list .button:hover,
.filters-list .button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}



/* FEATURES */
.features {
    margin-bottom: 94px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
}
.features-element {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
}
.features-list .item:last-child {
    margin-right: 0;
}
.features-list .title {
    margin-bottom: 10px;
    
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}
.features-list .description {
    color: var(--description-text-color);
    font-size: 14px;
    line-height: 1.7;
}


/* SPECIALIZATION */
.specialization .section-title {
    margin-bottom: 50px;
}
.specialization-list {
    display: flex;
}
.specialization-element {
    margin-right: 30px;
    margin-bottom: 0;
}
.specialization-list .item:last-child {
    margin-right: 0;
}


/* TEAM */
.team {
    padding-bottom: 94px;
    background-color: var(--primary-bg-color);
}
.team-list {
    display:flex; 
}
.team .section-title {
    padding-top: 94px;
    padding-bottom: 50px;
}
.team-element {
    margin-right: 30px;
    margin-bottom: 0;

    background-color: var(--white-color);

    border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child {
    margin-right: 0;
}

.team-list .title {
    padding-top: 30px;
    padding-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list .description {
    padding-bottom: 30px;
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}



/* FOOTER */
footer {
    background-color: var(--accent-bg-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
address {
    padding-top: 20px;
}


/* --------PORTFOLIO PAGE--------- */

/* PORTFOLIO FILTERS (BUTTONS) */

.portfolio-filters {
    margin-top: 94px;
    padding-bottom: 50px;
}
.filters-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-element {
    margin-right: 8px;
}

.filters-list .item:last-child {
    margin-right: 0;
}


/* PORTFOLIO LIST (WORKS)*/
.portfolio-works {
    margin-bottom: 94px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list .item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-list .item:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-list .item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.portfolio-list .link {
    color: var(--primary-text-color);
}
.portfolio-list .title {

    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2.0;
}
.portfolio-list .description {
    margin-top: 4px;
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.portfolio-card {
    padding: 20px 24px;
    
    border-right: 1px solid var(--portfolio-elements-border-color);
    border-bottom: 1px solid var(--portfolio-elements-border-color);
    border-left: 1px solid var(--portfolio-elements-border-color);;
}





