:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --accent-color: #2196F3;
    --active-color-button: #188CE8;
    --primary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --white-color: #ffffff;
    --white-color-alpha:rgba(255, 255, 255, 0.6);
    --black-color: #000000;
    --line-color:#ECECEC;
    --portfolio-card-border-color:#EEEEEE;
    --bg-hero-color: #C4C4C4;
    --clients-element-color: #AFB1B8;
    --backdrop-color: rgba(0, 0, 0, 0.2);

    --specific-indent: 94px 0;
}

body{
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}



/* RESET STYLES */
.link {
    text-decoration: none;
}
/* Скидывание родных отступов у h, ul, p */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Избавляемся от родного отступа у картинки */
img {
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* SECTION COMMON STYLES */
.section .section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* LOGO */
.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
}
.logo .logo-accent {
    color: var(--accent-color);
}
.logo .logo-black {
    color: var(--black-color);
}
.logo .logo-white {
    color: var(--white-color);
}

/* CONTAINER */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
header {
    border-bottom: 1px solid var(--line-color);
}
.header-elements {
    display: flex;
}
.nav-elements, 
.contacts {
    align-items: center;
}


/* CONTACTS */

.contacts {
    display: flex;
    margin-left: auto;
}
.contacts .item + .item {
    margin-left: 50px;
}
.contacts .link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: var(--description-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer .link {
    color: var(--white-color-alpha);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-footer .geolocation {
     /* Параметры шрифта унаследовали выше */
    color: var(--white-color);
}
.contacts .link:hover,
.contacts .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus{
    color: var(--accent-color);
}
.contacts .mail-link-icon,
.contacts .phone-link-icon
 {
    margin-right: 10px;

    fill: var(--description-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .mail-link:hover .mail-link-icon,
.contacts .mail-link:focus .mail-link-icon,
.contacts .phone-link:hover .phone-link-icon,
.contacts .phone-link:focus .phone-link-icon {
    fill: var(--accent-color);
}





/* NAVIGATION */

.nav-list {
    display: flex;
    margin-left: 93px;
}
.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    
    background-color: var(--accent-color);
    border-radius: 2px;
}
.nav-list .item + .item {
    margin-left: 50px;
}
.nav-elements {
    display: flex;
}
.nav-list .link{
    position: relative;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .link.current {
    color: var(--accent-color);
}
.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--accent-color);
}


/* HERO */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--bg-hero-color);
    letter-spacing: 0.06em;
    /* text-align: center;    */
}
.hero .hero-title {
    margin-bottom: 30px;

    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}
/* HERO MODAL AND BACKDROP */
.hero.overlay {
    height: 600px;
    max-width: 1600px;
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        to left, 
        var(--hero-gradient),
        var(--hero-gradient)
    ),
    url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;

    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;   

    transform: translate(-50%, -50%) scale(1) rotateY(360deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    
}

.hero .modal-button {
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    align-items: center;

    margin-top: 8px;
    margin-right: 8px;

    background-color: var(--white-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.hero .modal-button:hover,
.hero .modal-button:focus {
    fill: var(--accent-color);
}



/* HERO MODAL FORM NEW*/

.hero .modal-form {
    padding: 40px;
}
.hero .modal-form-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Общее в стилях input */
.hero .modal-input {
    width: 100%;
    
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .modal-cell {
    padding: 12px 12px 12px 42px;

    height: 40px;
}
.hero .modal-cell-textarea {
    resize: none;
    padding: 12px 16px;

    margin-bottom: 20px;
}
.hero .modal-input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
        
    color: rgba(117, 117, 117, 0.5);
}
.hero .modal-label{
    display: inline-block;
    margin-bottom: 4px;

    width: 100%;
}
.hero .input-wrapper {
    position: relative;
    margin-bottom: 10px;
}
.hero .input-icon {
    position: absolute;
    width:18px;
    height: 18px;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    fill: var(--primary-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .modal-input:focus + .input-icon {
    fill: var(--accent-color);
}
.hero .modal-input:focus {
    border-color: var(--accent-color);
}




/* BUTTON */
/* Настройки для часто встрещающихся кнопок */
.button {
    background-color: var(--primary-bg-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
}

/* HERO BUTTON */
.hero .button {
    padding: 10px 32px;

    color: var(--white-color);
    border: none;
    cursor: pointer;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border-radius: 4px;

    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover,
.hero .button:focus {
    background-color: var(--active-color-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* FILTERS BUTTON */
.filters-list .button {
    padding: 8px 22px;

    border-radius: 4px;

    transition: 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-list .special-button {
    padding: 8px 25px;
}
.filters-list .button:hover,
.filters-list .button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}



/* FEATURES */

.features {
    padding: var(--specific-indent);
}
.features-list {
    display: flex;
}
.features .item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
}
.features-list .item:last-child {
    margin-right: 0;
}
.features-list .title {
    margin-bottom: 10px;
    
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}
.features-list .description {
    color: var(--description-text-color);
    font-size: 14px;
    line-height: 1.7;
}
.features-thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}



/* SPECIALIZATION */
.specialization {
    padding-bottom: 94px;
}
.specialization-list {
    display: flex;
    margin-top: 50px;
}
.specialization .item {
    position: relative;

    margin-right: 30px;
    margin-bottom: 0;
}
.specialization-list .item:last-child {
    margin-right: 0;
}
/* на случай если не загрузилась картинка */
.specialization .specialization-photo {
    width: 370px;
}
.specialization-title .title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    font-weight: 700;

    text-transform: uppercase;
    color: var(--white-color);
}
.specialization-title {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;


    background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM */
.team {
    padding: var(--specific-indent);

    background-color: var(--primary-bg-color);
}
.team-list {
    display:flex; 
}
.team .section-title {
    margin-bottom: 50px;
}
.team .item {
    margin-right: 30px;
    margin-bottom: 0;

    background-color: var(--white-color);

    box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child {
    margin-right: 0;
}
.team-list .team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-list .title {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-list .description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team .social-links-list {
    margin-top: 16px;
}
.social-item:not(:last-child) {
    margin-right: 10px;
}
.team .social-link {
    background-color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .social-icon {
    fill: var(--clients-element-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .social-link:hover,
.team .social-link:focus {
    background-color: var(--accent-color); 
}
.team .social-link:hover .social-icon,
.team .social-link:focus .social-icon {
    fill: var(--white-color); 
}
/* сохранение размера блока картинки, на случай если картинка не загрузилась */
.team .team-photo {
    width: 270px;
}



/* SOCIAL ICON COMMON SETTINGS */
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-links-list {
    display: flex;
    justify-content: center;
}


/* CLIENTS */
.clients {
    padding: var(--specific-indent);
}
.clients .section-title {
    margin-bottom: 50px;
}
.clients-list {
    display: flex;
}
.clients .clients-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    
    border: 1px solid var(--clients-element-color);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .item {
    margin-right: 30px;
    margin-bottom: 0;
}
.clients .item:last-child {
    margin-right: 0;
}
.clients .client-logo {
    fill: var(--clients-element-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .clients-link:hover,
.clients .clients-link:focus {
    border: 1px solid var(--accent-color);
}
.clients .clients-link:hover .client-logo,
.clients .clients-link:focus .client-logo {
    fill: var(--accent-color);
}




/* FOOTER */
footer {
    background-color: var(--accent-bg-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
address {
    margin-top: 20px;
}
.footer .item {
    margin-bottom: 9px;
}
.footer .item:last-child {
    margin-bottom: 0;
}
.footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-link:hover,
.footer .social-link:focus {
    background-color: var(--accent-color);
}

.footer .social-icon {
    fill: var(--white-color);
}
.footer .social-links-title,
.footer .subscription-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer .footer-bar {
    display: flex;
    align-items: baseline;
}
.footer .contacts-box-footer {
    margin-right:  70px;
}
.footer .social-links-list {
    margin-top: 20px;
}
.footer .social-links-footer {
    margin-right: 93px;
}

/* FORM SUBSCRIPTION */
.footer .subscription {
    position: relative;
    width: 570px;
    right: 0;
}
.footer .subscription-form {
    display: flex;
    align-items: center;
}
.footer .subscription-field {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}
.footer .subscription-title {
    margin-bottom: 20px;
}
.footer .subscription-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;

    color: var(--white-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
}
.footer .subscription-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}
.footer .subscription-button-field {
    position: absolute;
    right: 0;
    top: 35px;
}
.footer .subscription-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 0;

    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .subscription-button:focus,
.footer .subscription-button:hover {
    background-color: var(--active-color-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer .subscription-button::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;

    fill: var(--white-color);
    background-image: url(../images/send.svg);
}



/* --------PORTFOLIO PAGE--------- */
.portfolio {
    padding: var(--specific-indent);
}
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters-list .item {
    margin-right: 8px;
    margin-bottom: 0;
}
.filters-list .item:last-child {
    margin-right: 0;
}


/* PORTFOLIO LIST (CARDS)*/
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-list .item {
    position: relative;
    
    margin-right: 30px;
    margin-bottom: 30px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .item:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-list .item:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.portfolio-list .portfolio-link {
    display: block;
    color: var(--primary-text-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .portfolio-link:hover,
.portfolio-list .portfolio-link:focus {
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list .title {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2.0;
}
.portfolio-list .description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.9;
}
.portfolio-card {
    padding: 20px 24px;
   
    border-right: 1px solid var(--portfolio-card-border-color);
    border-bottom: 1px solid var(--portfolio-card-border-color);
    border-left: 1px solid var(--portfolio-card-border-color);;
}

/* на случай если не будет загружена картинка добавлен блок с фиксированной шириной */
.portfolio .portfolio-photo {
    position: relative;
    width: 370px;

    overflow: hidden;    
}

.portfolio-photo .text-overlay {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;

    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover .text-overlay{

    transform: translateY(0);
}

