// CLIENTS


.client {
    padding: $first-indent;

    @media screen and (min-width: 1200px) {
        padding: $second-indent;
    }
}

.client__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
}

.client__link {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 92px;

        border: 1px solid $primary-icon-color;
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        border: 1px solid $accent-color;
    }
}

.client__item {

    width: calc((100% - 30px)/2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px)/3);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px)/6);
    }
}


.client__logo {
        fill: $primary-icon-color;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .client__link:hover &,
    .client__link:focus & {
        fill: $accent-color;
    }
}



