// CONTACTS 

.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    &--hide {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &--mobile {
        @media screen and (max-width: 767px) {
            display: inline-block;
            margin-bottom: 44px;
        }
    }
}

.contacts__item:not(:last-child) {

    @media screen and (max-width: 480px) {
        padding-bottom: 32px;
    }
    @media screen and (min-width:768px){
        margin-right: 50px;
    }


    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}


.contacts__link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: $description-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and(max-width:767px) {
        font-size: 24px;
        line-height: 1.17;
    }

    &--color {
        @media screen and(max-width:767px) {
            color: $accent-color;
            font-size: 34px;
            line-height: 1.17;
        }
    }
}

.contacts-footer__link {
    color: $white-color-alpha;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--geolocation {
        color: $white-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}



.contacts__icon {
    margin-right: 10px;
    
    fill: $description-text-color;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        display: none;
    }

    .contacts__link:hover &,
    .contacts__link:focus & {
        fill: $accent-color;
    }
}


// CONTACTS FOOTER

.contacts-box {

    display: block;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width:1200px) {
        margin-right: 70px;
        text-align: left;
    }

}


.contacts-footer-item {
    margin-bottom: 8px;


    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}


