// FEATURES

.features {
    padding: $first-indent;
    
    // @media screen and (min-width: 1200px) {
    //     padding: $second-indent;
    // }
}

.features__list {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

    }    
}

.features__item {

    &:not(:last-child) {
        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        //Расчет ширины элемента (100% - количество марджинов в строке * значение марджина)/ кол-во элементов в строке
        width: calc((100% - 4 * 15px)/2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        //Расчет ширины элемента (100% - количество марджинов в строке * значение марджина)/ кол-во элементов в строке
        width: calc((100% - 8 * 15px)/4);
        margin: 15px;
    }

    
}

.features__title {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (max-width: 479px) {
        text-align: center;
    }
}


.features__description {
    color: $description-text-color;
    font-size: 14px;
    line-height: 1.7;

    @media screen and (max-width: 479px) {
        text-align: justify;
    }
}

.features-thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: $primary-bg-color;
    border-radius: 4px;
    margin-bottom: 30px;

}
