// FEATURES

.features {
    padding: var(--specific-indent);
}

.features__list {
    display: flex;
}

.features__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
}

.features__item:last-child {
    margin-right: 0;
}

.features__title {
    margin-bottom: 10px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.features__description {
    color: var(--description-text-color);
    font-size: 14px;
    line-height: 1.7;
}

.features-thumb {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}