// FOOTER 


footer {
    background-color: var(--accent-bg-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

address {
    margin-top: 20px;
}

.footer-bar {
    display: flex;
    align-items: baseline;
}

