// HERO 

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-bg-color);
    letter-spacing: 0.06em;
    text-align: center;


    //HERO OVERLAY

    &--overlay {
        height: 600px;
        max-width: 1600px;

        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to left,
                var(--hero-gradient),
                var(--hero-gradient)),
            url("../images/hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.hero__title {
    margin-bottom: 30px;

    color: var(--white-color);

    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

// HERO BUTTON

.hero__button {
    padding: 10px 32px;
    cursor: pointer;

    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: var(--accent-button-color);
        box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
    }
}












