
//LOGO HEADER AND FOOTER

.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;

    &__text--accent {
        color: var(--accent-color);
    }
    
    &__text--black {
        color: var(--black-color);
    }
    
    &__text--white {
        color: var(--white-color);
    }

}

