
//LOGO HEADER AND FOOTER

.logo {
    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.19;
}

.logo__text--accent {
    color: $accent-color;
}
    
.logo__text--black {
    color: $black-color;
}
    
.logo__text--white {
    color: $white-color;
}

