//BACKDROP


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.9);
    }
        
        
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}


//MODAL

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 528px;

    background: var(--white-color);
    box-shadow:
        0px 1px 3px var(--first-modal-box-shadow-color),
        0px 1px 1px var(--second-modal-box-shadow-color),
        0px 2px 1px var(--third-modal-box-shadow-color);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1) rotateY(360deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    //MODAL BUTTON  
        
    &-button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        
        margin-top: 8px;
        margin-right: 8px;
        
        background-color: var(--white-color);
        cursor: pointer;
        width: 30px;
        height: 30px;
        
        border: 1px solid var(--modal-button-border-color);
        border-radius: 50%;
        
        
            //MODAL BUTTON  FOCUS, HOVER
            &:hover,
            &:focus {
                fill: var(--accent-color);
        
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

}




// HERO MODAL FORM

.modal-form {

    height: 100%;
    width: 100%;


    &__title {
        margin-bottom: 12px;
    
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
    }


    /* Общее в стилях input */
    &__input {
        width: 100%;
    
        border-radius: 4px;
        border: 1px solid var(--input-primary-border-color);
    
        transition:
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &--indent {
            padding: 12px 12px 12px 42px;
            height: 40px;
        
            outline: none;
        }

        &--textarea-indent {
            resize: none;
            padding: 12px 16px;
            margin-bottom: 20px;
        
            outline: none;
        }
        
        &:placeholder {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
        
            color: var(--input-placeholder-color);
        }


        &-wrapper {
            position: relative;
            margin-bottom: 10px;
        }
    
        &-icon {
            position: absolute;
            width: 18px;
            height: 18px;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--primary-text-color);
    
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        

        &:focus + &-icon,
        &:hover + &-icon {
            fill: var(--accent-color);
        }

        &:focus,
        &:hover {
            border-color: var(--accent-color);
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 4px;
        width: 100%;
        text-align: left;
    
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--description-text-color);
    }

    //MODAL FORM BUTTON

    &__button {
        margin-top: 30px;
        padding: 10px 52px;
        width: 200px;
        height: 50px;
        cursor: pointer;
        border: none;

        font-weight: 700;
        letter-spacing: 0.06em;

        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
        border-radius: 4px;

        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        //MODAL-FORM BUTTON FOCUS AND HOVER
        &:hover,
        &:focus {
    
            background-color: var(--accent-button-color);
            box-shadow: 0px 4px 4px var(--primary-box-shadow-color);
    
        }
    }
  
}





// CHECKBOX 

.checkbox-accept {
    margin: 0;


    /* Скрываем родной checkbox */
    &--hidden {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--description-text-color);
    }

    &__link {
        color: var(--accent-color);
    }

    &__icon {
        fill: transparent;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 15px;
            border: 2px solid var(--primary-text-color);
            border-radius: 2px;
            margin-right: 8px;
            cursor: pointer;
        }
    }

    & input:checked + &__label &__icon-wrapper {
        background-color: var(--accent-color);
        border: none;
    }
    
    & input:checked + &__label &__icon {
        fill: var(--white-color);
    }

}



