/* --------PORTFOLIO PAGE--------- */
.portfolio {
    padding: $first-indent;

    @media screen and (min-width: 1200px) {
        padding: $second-indent;
    }
}



// FILTERS BUTTON 
.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 15px 8px;
    
    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

// .filter__item {

//     // &:last-child {
//     //     margin-right: 0;
//     // }

//     @media screen and (min-width: 768px) {
//         margin-bottom: 0;
//     }

// }

.filter__button {
    padding: 8px 22px;

    border-radius: 4px;

    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    //FILTER-BUTTON FOCUS AND HOVER
    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
        box-shadow:
            0px 3px 1px $first-filter-box-shadow-color,
            0px 1px 2px $second-filter-box-shadow-color,
            0px 2px 2px $third-filter-box-shadow-color;
    }
    
}


//у первой кнопки отличается паддинг от остальных в списке
.button--indent {
    padding-left: 25px;
    padding-right: 25px;
}



/* PORTFOLIO LIST (CARDS)*/
.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.card-set__item {
    position: relative;
    margin: 15px;

    // margin-right: 30px;
    // margin-bottom: 30px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px)/2);
    }

    @media screen and (min-width: 1200px) {
        //Расчет ширины элемента (100% - количество марджинов в строке * значение марджина)/ кол-во элементов в строке
        width: calc((100% - 6 * 15px)/3);
    }

}


.card-set__link {
    display: block;
    color: $primary-text-color;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    & {
        display: block;
        color: $primary-text-color;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        box-shadow:
            0px 1px 1px $first-card-set-box-shadow-color,
            0px 4px 4px $second-card-set-box-shadow-color,
            1px 4px 6px $third-card-set-box-shadow-color;
    }
}


.card-set__title {
    margin-bottom: 4px;

    color: $primary-text-color;
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2.0;
}

.card-set__description {
    color: $description-text-color;
    font-size: 16px;
    line-height: 1.9;
}

.card-set__meta {
    padding: 20px 24px;

    border-right: 1px solid $card-set-border-color;
    border-bottom: 1px solid $card-set-border-color;
    border-left: 1px solid $card-set-border-color;
}


/* на случай если не будет загружена картинка добавлен блок с фиксированной шириной */
.card-set__photo {
    position: relative;
    width: 100%;

    overflow: hidden;
}

.card-set__text-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;

    color: $white-color;
    background-color: $overlay-bg-color;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



    .card-set__item:hover & {
        transform: translateY(0);
    }
}














