/* --------PORTFOLIO PAGE--------- */
.portfolio {
    padding: var(--specific-indent);
}



// FILTERS BUTTON 
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item {
    margin-right: 8px;
    margin-bottom: 0;

    &:last-child {
        margin-right: 0;
    }

}

.filter__button {
    padding: 8px 22px;

    border-radius: 4px;

    transition:
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    //FILTER-BUTTON FOCUS AND HOVER
    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        box-shadow:
            0px 3px 1px var(--first-filter-box-shadow-color),
            0px 1px 2px var(--second-filter-box-shadow-color),
            0px 2px 2px var(--third-filter-box-shadow-color);
    }
    
}


//у первой кнопки отличается паддинг от остальных в списке
.button--indent {
    padding-left: 25px;
    padding-right: 25px;
}



/* PORTFOLIO LIST (CARDS)*/
.card-set {
    display: flex;
    flex-wrap: wrap;
}

.card-set__item {
    position: relative;

    margin-right: 30px;
    margin-bottom: 30px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:nth-child(3n) {
        margin-right: 0px;
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }

}


.card-set__link {
    display: block;
    color: var(--primary-text-color);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


    & {
        display: block;
        color: var(--primary-text-color);

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        box-shadow:
            0px 1px 1px var(--first-card-set-box-shadow-color),
            0px 4px 4px var(--second-card-set-box-shadow-color),
            1px 4px 6px var(--third-card-set-box-shadow-color);
    }
}


.card-set__title {
    margin-bottom: 4px;

    color: var(--primary-text-color);
    letter-spacing: 0.06em;
    font-size: 18px;
    line-height: 2.0;
}

.card-set__description {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.card-set__meta {
    padding: 20px 24px;

    border-right: 1px solid var(--card-set-border-color);
    border-bottom: 1px solid var(--card-set-border-color);
    border-left: 1px solid var(--card-set-border-color);
}


/* на случай если не будет загружена картинка добавлен блок с фиксированной шириной */
.card-set__photo {
    position: relative;
    width: 370px;

    overflow: hidden;
}

.card-set__text-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;

    color: var(--white-color);
    background-color: var(--overlay-bg-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



    .card-set__item:hover & {
        transform: translateY(0);
    }
}














