// SOCIAL ICON COMMON SETTINGS

.social {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: $white-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        background-color: $accent-color;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    //SOCIAL LINK DARK FOR FOOTER
    &--reverse {
        background-color: $social-reverse-color;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__icon {
    fill: $primary-icon-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__link:hover &,
    .social__link:focus & {
        fill: $white-color;
        
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    //ICON REVERSE FOR FOOTER
    &--reverse {
        fill: $white-color;
    }

    &--indent {
        margin-top: 20px;
    }

}

//SOCIAL MOBILE

.social-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 64px;
}

.social-text__item:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid $input-primary-border-color;
}

.social-text__link {
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding: 10px 10px 10px 0;

    &:hover,
    &:focus {
        color: $accent-color;
    }

}