/* TEAM */
.team {
    padding: $specific-indent;

    background-color: $primary-bg-color;
}
.team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.team__item {
    background-color: $white-color;

    box-shadow:
        0px 1px 3px $first-team-card-box-shadow-color,
        0px 1px 1px $second-team-card-box-shadow-color,
        0px 2px 1px $third-team-card-box-shadow-color;
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        //Расчет ширины элемента (100% - количество марджинов в строке * значение марджина)/ кол-во элементов в строке
        width: calc((100% - 4 * 15px)/2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        //Расчет ширины элемента (100% - количество марджинов в строке * значение марджина)/ кол-во элементов в строке
        width: calc((100% - 8 * 15px)/4);
        margin: 15px;
    }
}

.team__meta {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width:1200px) {
        padding-bottom: 30px;
    }
}

.team__title {
    margin-bottom: 10px;

    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__description {
    color: $description-text-color;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__photo {
    width: 100%;
}








