body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
}

// RESET STYLES

.link {
    text-decoration: none;
}

// Скидывание родных отступов у h, ul, p 

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Избавляемся от родного отступа у картинки 
img {
    display: block;
    width: 100%;
    height: auto;
}

// SECTION COMMON STYLES 
.section-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

// CONTAINER 

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


//BUTTON

/* Настройки для часто встрещающихся кнопок */
.button {
    background-color: var(--primary-bg-color);
    cursor: pointer;
    border: none;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;  
}