body {
    background-color: $white-color;
    color: $primary-text-color;
    font-family: $primary-font;
    letter-spacing: 0.03em;

}


// RESET STYLES

.link {
    text-decoration: none;
}

// Скидывание родных отступов у h, ul, p 

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Избавляемся от родного отступа у картинки 
img {
    display: block;
    width: 100%;
    height: auto;
}

// SECTION COMMON STYLES 
.section-title {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
}

// CONTAINER 

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}


//BUTTON

/* Настройки для часто встрещающихся кнопок */
.button {
    background-color: $primary-bg-color;
    cursor: pointer;
    border: none;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;  
}