$primary-text-color: #212121;
$description-text-color: #757575;
$accent-color: #2196F3;
$accent-button-color: #188CE8;
$primary-bg-color: #F5F4FA;
$accent-bg-color: #2F303A;
$hero-gradient: rgba(47, 48, 58, 0.4);
$white-color: #ffffff;
$white-color-alpha: rgba(255, 255, 255, 0.6);
$black-color: #000000;
$line-color:#ECECEC;
$card-set-border-color:#EEEEEE;
$hero-bg-color: #C4C4C4;
$primary-icon-color: #AFB1B8;
$backdrop-color: rgba(0, 0, 0, 0.2);
$primary-box-shadow-color: rgba(0, 0, 0, 0.15);

$first-modal-box-shadow-color: rgba(0, 0, 0, 0.12);
$second-modal-box-shadow-color: rgba(0, 0, 0, 0.14);
$third-modal-box-shadow-color: rgba(0, 0, 0, 0.2);

$first-team-card-box-shadow-color: rgba(0, 0, 0, 0.12);
$second-team-card-box-shadow-color: rgba(0, 0, 0, 0.14);
$third-team-card-box-shadow-color: rgba(0, 0, 0, 0.2);

$first-filter-box-shadow-color: rgba(0, 0, 0, 0.1);
$second-filter-box-shadow-color: rgba(0, 0, 0, 0.08);
$third-filter-box-shadow-color: rgba(0, 0, 0, 0.12);

$first-card-set-box-shadow-color: rgba(0, 0, 0, 0.12);
$second-card-set-box-shadow-color: rgba(0, 0, 0, 0.06);
$third-card-set-box-shadow-color: rgba(0, 0, 0, 0.16);

$card-title-bg-color: rgba(47, 48, 58, 0.8);
$overlay-bg-color: rgba(33, 150, 243, 0.9);

$input-bg-color: rgba(255, 255, 255, 0);
$input-border-color: rgba(255, 255, 255, 0.3);
$input-placeholder-color: rgba(117, 117, 117, 0.5);

$input-primary-border-color: rgba(33, 33, 33, 0.2);
$input-primary-placeholder-color: rgba(255, 255, 255, 0.6);
